@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #F9F9F9;
  --color-secondary: #2b2d38;
  --color-accent: #78dcca;
}

@layer {
    * {
      @apply transition duration-200;
    }
    body {
       @apply bg-[#131313] text-white;
    }
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #88888800;
    border-radius: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }